.button {
    width: 120px;
    height: 39px;
    border-radius: 9px;
    background-color: var(--background-primary-button);
    color: var(--color-text-primary-button);
    font-size: var(--font-s-13);
    font-weight: var(--font-w-500);
    display: flex;
    align-items: center;
    justify-content: center;
}