.page {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.page__header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page__header_content_title {
    font-size: var(--font-s-30);
    color: var(--color-black-primary);
}

.page__header__wrapper {
    display: flex;
    align-items: center;
    gap: 127px;
}

.wrapper__title {
    font-size: var(--font-s-14);
    color: var(--color-black-primary);
}

.wrapper__percent {
    font-size: var(--font-s-14);
    color: var(--color-gray-primary);
}