.wrapper {
    width: 100%;
    padding: 12px 20px 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    background-color: var(--color-white-primary);
    border: 1px solid var(--color-gray-border-input);
}

.wrapper:focus-within {
    border: 1px solid var(--color-blue-primary);
}

.wrapper__input {
    width: 100%;
    font-family: "Comfortaa", sans-serif;
    font-size: var(--font-s-14);
    color: var(--color-black-primary);
    cursor: pointer;
}

.wrapper__input::placeholder {
    color: var(--color-gray-primary);
}