.layout {
    display: flex;
    gap: 49px;
}

.layout__sidebar {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 29px 29px 0 29px;
    background-color: var(--background-menu);
    min-height: 100vh;
}

.sidebar__logo {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
}

.logo__image {
    width: 44px;
    height: 44px;
}

.sidebar__header {
    font-size: var(--font-s-18);
    font-weight: var(--font-w-700);
    color: var(--color-black-primary);
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.layout__content {
    padding-top: 45px;
    width: 100%;
}