.form {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--color-white-primary);
    border-radius: 10px;
    padding-right: 5px;
}

.form__left {
    display: flex;
    align-items: center;
    padding: 18px 41px;
    background-color: var(--background-menu);
    border-right: 1px solid var(--color-white-border);
    border-radius: 10px 0 0 10px;
    color: var(--color-black-primary);
    font-weight: var(--font-w-500);
    font-size: var(--font-s-14);
}

.form__left__text {
    min-width: 50px
}

.form__right {
    display: flex;
    gap: 14px;
    width: 100%;
}

.form__right_input {
    display: flex;
    position: relative;
    width: 100%;
}

.right_input__icon {
    position: absolute;
    top: 12px;
    left: 20px;
}

.right_input__input {
    width: 100%;
    font-family: "Comfortaa", sans-serif;
    font-size: var(--font-s-14);
    color: var(--color-black-primary);
    padding: 12px 20px 12px 49px;
    border-radius: 9px;
    background-color: var(--color-white-primary);
    border: 1px solid var(--color-gray-border-input);
    cursor: pointer;
}

.right_input__input:focus-within {
    border: 1px solid var(--color-blue-primary);
}

.right_input__input::placeholder {
    color: var(--color-gray-primary);
}