:root {
    --background: #F3F6FD;
    --background-primary-button: #edecfe;
    --background-menu: #FBFAFF;
    --color-blue-primary: #5051f9;
    --color-black-primary: #000000;
    --color-gray-primary: #8899a8;
    --color-gray-secondary: #768396;
    --color-blue-primary-hover: #6A6AFB;
    --color-white-primary: #ffffff;
    --color-blue-border-secondary: #CAD5FF;
    --color-gray-border-input: #E7EBFB;

    --font-s-13: 13px;
    --font-s-14: 14px;
    --font-s-18: 18px;
    --font-s-24: 24px;

    --font-w-500: 500;
    --font-w-700: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background);
}

button {
    background: none;
    border: none;
}

input {
    outline: none;
    border: none;
}