:root {
    --background-primary-button: #edecfe;
    --color-blue-primary: #5051f9;
    --color-blue-primary-hover: #6A6AFB;
    --color-white-primary: #ffffff;

    --font-s-13: 13px;
    --font-w-500: 500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: gray;
}

button {
    border: none;
}